<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Bias-Judge</title>

		<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,400bold' rel='stylesheet' type='text/css'>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
		<script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
		<link rel="stylesheet" href="http://cdn.jsdelivr.net/qtip2/2.2.1/jquery.qtip.min.css">
		<link rel="stylesheet" type="text/css" href="static/css/styles.css" />
		<script src="http://cdn.jsdelivr.net/qtip2/2.2.1/jquery.qtip.min.js"></script>
		<script src="static/js/tooltips.js"></script>
		<script src="static/js/custom.js"></script>
		
	</head>
	<body>
		<div id="main">
			<h1 id="title">Bias-Judge</h1>
			<div id="description">
				<div id="summary">
					Bias-Judge is an online smart tool that analyzes text and looks for potentially biased statements. It highlights the issues, and you can hover over them for more information. <span class="tooltip-text">Bias-Judge is pretty awesome.</span>
					<div class="tooltip-content">
						<ul>
							<li>Possible positive bias towards "Bias-Judge"</li>
						</ul>
					</div>
				</div>
				<p id="prompt-text">
					<u>Paste your text below and press 'Unbias' button. An example is filled in if you just want to try it out.</u>
				</p>
			</div>
			<hr>
			<div>
				<form id="input-form">
				<textarea id="textfield" name="doc" class="form-control" style="overflow:hidden">{{ defaultDoc }}</textarea>
				</form>
			</div>
			<div>
				<input type="button" id="unbias" value="Unbias"></input>
			</div>
			<div id="result-box"></div>
			<div>
				<input type="button" id="start-again" value="Start Over" style="display: none;"></input>
			</div>
		</div>
	</body>
</html>